@font-face {
  font-family: "Pokemon";
  src: local("Pokemon_Solid"), url("../assets/fonts/Pokemon_Solid.ttf") format("truetype")
}

@keyframes pokeball-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* general */

:root {
  font-family: 'Roboto Slab', serif;
  --pokemon-logo-blue: rgb(42, 117, 187);
  --pokemon-logo-yellow: rgb(255, 203, 5);
  --background-gray: rgba(211, 211, 211, 0.75)
}

#root {
  background-image: url("../assets/images/misc/kanto_map.png");
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
}


/* multiple elements/pages */

.pokemon-logo {
  width: 30vw;
  min-width: 300px;
}

.nav-button,
.modal-submit-button {
  background: linear-gradient(to bottom, red, black, white);
  color: white;
  border: solid 2px black;
  border-radius: 20px;
}

.nav-button:hover,
.modal-submit-button:hover {
  filter: grayscale(30%);
}

.nav-button:active,
.modal-submit-button:active {
  filter: grayscale(60%);
}

.name-list {
  padding: 0;
  margin: 0;
  height: 150px;
  width: 125px;
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
}

.homepage-game-option-button .name-list {
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100px;
}

.name-list-entry {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 5px;
  height: 35px;
}

.homepage-game-option-button .name-list-entry {
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.loading-pokeball-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.loading-pokeball {
  animation-name: pokeball-rotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  width: 40vw;
}

/* homepage */

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.homepage-nav-button {
  align-self: flex-end;
  height: 25px;
  margin: 10px;
}

.slogan {
  font-family: Pokemon;
  font-size: xx-large;
  background-color: var(--background-gray);
  color: var(--pokemon-logo-yellow);
  text-shadow: 0 -1px var(--pokemon-logo-blue),
  1px 0 var(--pokemon-logo-blue),
  0 1px var(--pokemon-logo-blue),
  -1px 0 var(--pokemon-logo-blue);
  text-align: center;
  line-height: 60px;
  margin: 0 0 20px;
}

.homepage-game-options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.homepage-game-option-button {
  background-color: var(--pokemon-logo-yellow);
  border: solid 4px var(--pokemon-logo-blue);
  border-radius: 8px;
  padding: 0 0 15px;
  width: 90vw;
  max-width: 500px;
}

.homepage-preview-image {
  width: 100%;
}

.homepage-game-option-difficulty {
  font-size: larger;
  font-weight: 600;
}

.credits {
  background-color: var(--background-gray);
  text-align: center;
  margin-bottom: 30px;
  padding: 0 10px;
}

/* game page */

.game-navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 1px 4px darkgray;
  height: 10vh;
  width: 100vw;
  z-index: 2;
}

.game-area {
  padding-top: 10vh;
}

.game-image {
  margin-bottom: -3px;
}

/* nav bar */

.nav-home {
  margin-left: 15px;
}

.game-navbar-sprite {
  height: 9vh;
}

.nav-timer {
  text-align: center;
  margin-right: 15px;
  width: 90px;
}

.nav-leaderboard {
  margin-right: 15px;
}

/* modal */

.modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
}

.modal {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: white;
  border: solid 6px lightgray;
  border-radius: 8px;
  width: 85vw;
  max-width: 500px;
  padding: 10px;
}

.modal-close-button {
  align-self: end;
  background-color: transparent;
  border: none;
  padding: 0;
}

.modal-form {
  display: flex;
  gap: 15px;
}

.modal-congrats {
  text-align: center;
}

.modal-score {
  margin-top: 0;
}

.modal-label {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
  margin-bottom: 20px;
}

/* leaderboard page */

.leaderboard-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 10px 10px 30px;
}

.leaderboard-page .pokemon-logo {
  margin-top: 45px;
}

.leaderboard-page .pokemon-logo:hover {
  transform: scale(1.05);
}

.leaderboard-contents {
  background-color: var(--background-gray);
  border: solid 4px darkgray;
  border-radius: 8px;
  width: 85vw;
  max-width: 500px;
  padding: 10px;
}

.leaderboard-difficulty-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.leaderboard-difficulty-select {
  text-align: end;
}

.leaderboard-score-table-container {
  overflow-x: auto;
}

.leaderboard-score-table {
  text-align: center;
}

.leaderboard-score-table th {
  border-bottom: solid 2px black;
}

.leaderboard-score-table th {
  padding-right: 5px;
  padding-bottom: 15px;
}

.leaderboard-score-table td {
  padding-bottom: 10px;
}

/* responsive */

@media (max-width: 420px) {
  .game-navbar {
    justify-content: flex-start;
  }
}

@media (max-width: 500px) {
 .game-navbar {
  overflow-x: scroll;
  white-space: nowrap;
 }
}

@media (max-width: 530px) {
  .modal-form {
    flex-direction: column;
  }
  .modal-form .modal-label:first-child {
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .game-page-version2,
  .game-page-version3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .game-page-version2 .game-image,
  .game-page-version3 .game-image {
    box-shadow: 1px 0 4px lightgray,
      -1px 0 4px lightgray;
  }
}

@media (min-width: 2560px) {
  .game-page-version1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .game-page-version1 .game-image {
    box-shadow: 1px 0 4px lightgray,
      -1px 0 4px lightgray;
  }
}